div {
    color: var(--white);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 48px;
    min-height: 40vh;
}

.no-data-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}