.filter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: auto;
  /* grid-template-areas: "1 2 3"; */
  /* justify-content: space-between;
  padding-inline: 120px;
  align-items: center; */
  margin: 24px 0;
}

.primary-filters {
  grid-column: 2;
  width: fit-content;
  justify-self: center;
  display: flex;
  padding: 6px;
  background-color: var(--secondary);
  border-radius: 50px;
}

.filter {
  height: 36px;
  padding-inline: 24px;
  font-size: 0.8em;
  color: var(--yellow);
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.filter-active {
  background-color: var(--yellow);
  color: var(--primary);
  transition: .1s;
}

label {
  grid-column: 3;
  width: fit-content;
  justify-self: end;
  align-self: center;
  font-size: 1rem;
  color: var(--beige);
  display: flex;
}

input[type = "checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: black;
}