.search-box {
  border-radius: 6px;
  background-color: var(--secondary);
  padding-inline-start: 16px;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 240px;
  height: 40px;
  border: none;
  background: none;
  padding-inline: 16px;
  font-size: 0.9em;
  color: var(--beige);
}

.search-bar:focus {
    outline: none;
}
