.header-wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 2em;
  color: var(--white);
  text-decoration: none;
}

.navlinks-wrapper {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
  width: 100%;
}

.nav-right {
  justify-content: flex-end;
  padding: 0;
}

.nav-left {
    justify-content: flex-start;
    padding: 0 28px;
  }

.navlinks-wrapper > li {
  font-size: 0.9rem;
  margin-inline: 8px;
}

.navlinks-wrapper > li > a {
  text-decoration: none;
  color: var(--white);
}

.navlinks-wrapper > li:last-child {
  display: flex;
}

.navlinks-wrapper > li > a:hover {
  cursor: pointer;
  opacity: 80%;
}

.signup-btn {
  background-color: var(--blue);
  color: var(--white);
  padding: 12px 24px;
  border-radius: 12px;
  margin-left: 20px;
}
