@import "./styles/commonClasses.css";
@import "./styles/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Poppins font classes */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  padding-inline: 10vw;
  background-color: #050505;
}

.outlet-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-container {
  border: 1.5px solid var(--secondary);
  display: flex;
  flex-direction: column;
  width: 600px;
  box-sizing: border-box;
  padding: 28px 76px;
  border-radius: 12px;
  align-items: center;
}

#submit-btn {
  width: 120px;
  box-sizing: border-box;
  background: none;
  border: 1px solid var(--blue);
  border-radius: 6px;
  color: var(--blue);
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 16px 0;
}

#submit-btn:hover {
  opacity: 80%;
}

#submit-btn:disabled {
  border-color: var(--secondary);
  color: var(--secondary);
}

#submit-btn:disabled:hover {
  opacity: 100%;
}

.input-field-container {
  width: 100%;
  margin: 20px 0;
}

label {
  font-family: Poppins;
  color: var(--white);
  font-size: 0.9rem;
  margin-bottom: 6px;
}

.input-field {
  background: none;
  border: 1.5px solid var(--secondary);
  border-radius: 6px;
  width: 100%;
  height: 48px;
  color: var(--white);
  box-sizing: border-box;
  padding: 12px;
  font-size: 1rem;
}

.input-field:focus {
  outline: none;
}

.input-avatar-container {
  display: flex;
  width: 100%;
  margin-block: 24px;
  align-items: center;
}

.avatar-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-inline-end: 24px;
}

.avatar-input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.avatar-label {
  background-color: var(--secondary);
  border-radius: 4px;
  padding: 8px 12px;
  margin: 0;
  cursor: pointer;
  font-size: .8rem;
}

.avatar-label:hover {
  opacity: 80%;
}

.remove-avatar-btn {
  background-color: var(--secondary);
  color: var(--beige);
  padding: 8px 12px;
  margin-left: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: .8rem;
  font-family: Poppins;
  cursor: pointer;
}

.remove-avatar-btn:hover {
  opacity: 80%;
}

.error {
  width: 100%;
  font-size: 0.9rem;
  color: var(--beige);
  background-color: var(--error-light);
  border: 1.8px solid var(--error);
  border-radius: 6px;
  margin: 16px 24px;
  padding: 12px 24px;
  box-sizing: border-box;
}

.validation-error {
  width: 100%;
  font-family: Poppins;
  font-weight: 400;
  color: var(--error);
  margin: 4px;
}

.artists-page-wrapper {
  width: 80vw;
}

.artists-page-header {
  padding-inline: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artists-page-header h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.5rem;
}